.App {
  text-align: center;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.price, .type, .collection {
  background-color: transparent !important;
  color: var(--white-color) !important;
  margin: 5px;
}

.row {
  margin-top: 20px;
}

.lotterySpanTitleRow {
  text-align: left;
  margin-top: 5% !important;
  padding: 25px;
}

.lotterySpanTitle {
  font-weight: 700;
  font-size: 36px;

}

@media screen and (max-width: 991px) {

  .lotterySpanTitle {
      font-weight: 600;
      font-size: 28px;
  }
}

.lotteryDescriptionRow {
    margin-top: 15% !important;
    padding: 35px;
    background: #a3959514;
    box-shadow: 3px 2px 22px 1px #111c38;
    border-radius: 10px;
}

.weeklyLotteryDescriptionRow {
    margin-top: 5% !important;
    padding: 35px;
    background: #a3959514;
    box-shadow: 3px 2px 22px 1px #111c38;
    border-radius: 10px;
}

.monthlyLotterySpan {
    font-weight: 700;
    font-size: 46px;
}

.spanDiv {
    text-align: left;
}

.checkIfYouWonButton {
    width: 40%;
    padding: 12px 20px;
}

.lotterDescriptionRow {
    text-align: left;
}

.lotteryDescriptionSpan1 {
    font-weight: 700 !important;
    font-size: 40px !important;

    text-align: left;
}

.lotterDescriptionRow3 {
    margin-top: 5%;
    text-align: left;
}

.remainingTimeLottery {
    text-align: left;
}

.timeButton {
    margin-left: 0px !important;
}

.formInputLotteryDescription {
    width: 50% !important;
}

@media screen and (max-width: 991px) {
    .spanDiv {
        text-align: center !important;
    }

    .remainingTimeLottery {
        text-align: center;
        margin-bottom: 3%;
    }

    .iconsDiv {
        margin-top: 5%;
    }

    .lotterDescriptionRow3 {
        text-align: center !important;
    }

    .formInputLotteryDescription {
        width: 100% !important;
    }

    .checkIfYouWonButton {
        width: 250px;
    }

}